@import url('./globals.css');

.content {
    padding: 2rem;
}

.content .projek {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .projek h1 {
    font-size: 26px;
}

.content .projek .projek-saya div img {
    width: 400px;
}