nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: white;
}

nav .nav-content {
  display: flex;
  justify-content: space-between;
  max-width: 90rem;
  margin: 0 auto;
}

nav .nav-logo {
  font-weight: 600;
  font-size: 22px;
}

nav .nav-link {
  align-items: center;
  display: flex;
  gap: 50px;
}

nav .nav-icon {
  display: none;
  font-size: 22px;
}

nav .nav-link a, label {
  color: #272727;
  font-weight: 500;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

nav .active {
  color: #A33030 !important;
}

nav .nav-link a:hover {
  border-bottom: 3px solid #A33030;
} 

nav .nav-link .jelajahi {
  position: relative;
  display: inline-block;
}

nav .nav-link .jelajahi input {
  display: none;
}

nav .nav-link .jelajahi .jelajahi-dropdown {
  display: none;
  top: 1.8rem;
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1px solid #a4b0be;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 4px;
  min-width: 15rem;
}

nav .nav-link .jelajahi .jelajahi-dropdown p {
  border-bottom: 1px solid #a4b0be;
  padding: 0.8rem 2rem;
}

nav .nav-link #check-jelajahi:checked~.jelajahi-dropdown, #check-jelajahi:hover~.jelajahi-dropdown {
  display: block;
}

@media only screen and (max-width: 700px) {
  nav .nav-link {
    display: none !important;
  }

  nav .nav-icon {
    display: block !important;
  }
}
